<div id="home">
  <h1>Bounty Board</h1>
  
  
  <h2>Open Bounties</h2>
  <ul>
    {{#each bounties}}
    {{#if completed}}
    {{else}}
    {{#if accepted}}
    {{else}}
    <li>
      <h3>Title: <span class="titTex"> {{title}}</span> </h3>
      
      <h3>Description: <span class="titTex"> {{description}}</span> </h3>
      
      
      <br>
      <form method="POST" action="/bounties/accepted/{{this.id}}?_method=PUT">
      <button class="accepted">
        Test Accept
      </button>
      </form>
      
    </li>
    {{/if}}
    {{/if}}
    {{/each}}
  </ul>

  <br>
  <br>
  <h2>Bounties In Progress</h2>
  <ul>
    {{#each bounties}}
    {{#if accepted}}
    {{#if completed}}
    {{else}}
    <li>
      <h3>Title: </h3>{{title}}
      <h3>ID: </h3>{{id}}
      <h3>Description: </h3>{{description}}
      <form method="POST" action="/bounties/completed/{{this.id}}?_method=PUT">
      <button class="completed" data-id="{{id}}" data-accept="{{completed}}">
        Test Complete
      </button>
      </form>
    </li>
    {{/if}}
    {{/if}}
    {{/each}}
  </ul>
  
  
  <br>
  <br>
  <h2>Bounties In Completed</h2>
  <ul>
    {{#each bounties}}
    {{#if completed}}
    <li>
      <h3>Title: </h3>{{title}}
      <h3>ID: </h3>{{id}}
      <h3>Description: </h3>{{description}}
    </li>
    {{/if}}
    {{/each}}
  </ul>
</div>